
<!-- 
data types 2 types
1 primitive  (immutable , predifined) - string , number, boolean , null, undefind ,symbol
2 non-primitive (mutable) - array , object , function
 -->

 {{title}} <br>
 {{name}} <br>

 <!-- <app-admin></app-admin> -->

 <button routerLink="/admin">admin</button> &nbsp;
 <button routerLink="/admi">admin 1</button> &nbsp;
 <button (click)="user()">user</button> &nbsp; &nbsp; 

 <button routerLink="/databinding">databinding without lazay load</button> &nbsp;

 <button routerLink="/data/databinding">databinding by lazy module</button>

 <input type="text" [(ngModel)]="data"> <br>
 {{data}}

 <router-outlet></router-outlet>